CV.dtd

<!ELEMENT CV (Coach+)>
<!ELEMENT Coach (Age,Nom,Prénom,Diplômes,Experiences,LV1,LV2)>
<!ATTLIST Coach  id CDATA "0">
<!ELEMENT Age (#PCDATA)>
<!ELEMENT Nom (#PCDATA)>
<!ELEMENT Prénom (#PCDATA)>
<!ELEMENT Diplômes (#PCDATA)>
<!ELEMENT Experiences (#PCDATA)>
<!ELEMENT LV1 (#PCDATA)>
<!ELEMENT LV2 (#PCDATA)>
