CV.dtd

<!ELEMENT CV (Coach+)>
<!ELEMENT Coach (Age,Nom,Prenom,Diplomes,Experiences,LV1,LV2)>
<!ATTLIST Coach  id CDATA "0">
<!ELEMENT Age (#PCDATA)>
<!ELEMENT Nom (#PCDATA)>
<!ELEMENT Prenom (#PCDATA)>
<!ELEMENT Diplomes (#PCDATA)>
<!ELEMENT Experiences (#PCDATA)>
<!ELEMENT LV1 (#PCDATA)>
<!ELEMENT LV2 (#PCDATA)>
